.url {
  &-box {
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
  }

  &-copier {
    background: $default-red-color;
    color: #fff;
    padding: 0.3rem 1rem;
    border: 1px solid #8f8e8f00;
    transition: .3s;

    &:hover,
    &:active,
    &:focus-visible {
      background: $default-list-color-active;
    }
  }
}
