// $default-list-color: #ffffff80;
//$default-bg-color: #315361;
$default-green-color: #16a085;

$default-list-color: #090000c6;
$default-list-color-active: #00da00;

$default-bg-color: #fff;
$default-green-color: #01C100;

$default-red-color: #01C100;
