// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';


.paragraph {
  color: #484848;
}

#custom-navbar-toggler {
  border: none;
  padding: 8px;
  font-size: 1.4em;
  color: #2c2c2c;
}

.custom-card {
  height: max-content;
  margin: 8px 16px;

  &.catalog {
    padding: 0 !important;

    .catalog-link {
      img {
        width: 100%;
        max-height: 590px;
        min-height: 590px;
      }
    }
  }

  .model-card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 1/1.41421356237;

    .model-image-preview {
      width: 100%;
      height: 81%;
    }

    .product-name {
    }

    .product-info {


      &-name-box {

        .product-name {
          font-size: .9em;
        }

        .product-description {

        }
      }

      &-pricing-box {

        .price {}

        .price-discount {}

        .catalog-button {}
      }
    }
  }

  .model-2 {
    .model-image-preview {
      height: inherit;
    }
  }

  .model {
    height: 625px;
    width: 100%;
  }
}

.catalog {

  .model-card {
    height: 625px;
    .inner-card {
      .model-image-preview {
        object-fit: contain;
        user-select: none;
        display: block;
        margin: 0 auto;
        background: url(https://picsum.photos/250/300) no-repeat center;
        background-size: 100% 100%;
        background-position: center;
      }

      .product-info {
        display: flex;
        align-items: flex-start;
        background: #fff;
        padding: 8px 16px 8px 16px;
        &-name-box {
          padding-right: 8px;
          min-width: 65%;
          .product-name {
            margin: 0;
            font-size: .9em;
            font-weight: 600;

          }

          .product-description {
            font-size: .8em;
            margin: 0;
          }
        }

        &-pricing-box {
          min-width: 35%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: stretch;

          .price-discount {
            margin: 0;
            font-weight: 400;
            font-size: 0.9em;
          }

          .price {
            font-size: .9em;
            display: inline;
            margin: 0;
            height: max-content;
            font-weight: 500;
          }

          .catalog-button {
            margin: 0;
            padding: 6px 7px;
            font-size: 16px;
            height: max-content;
            text-align: center;
            user-select: none;
            text-decoration: none;
            transition: .2s;
            color: #fff;
            background: #16a085;
            border: 1px solid #b3b3b3;
          }
        }
      }

    }

    &.model-1 {}

    &.model-2 {}
  }
}

.image-model {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 16/9;
  object-fit: cover;
  padding: 2%;
}

//removing modal transform
.modal-dialog {
  .modal.fade & {
    transform: none;
  }
}

.file-shown {
  opacity: 1 !important;
  display: block;
  position: relative !important;

  &.filled {
    padding: 6px;
    margin: 5px 0;
  }
}

.centered{
  position: absolute;
  left: 50%;
  transform: translate(-50%,0%);
}
.align-centered{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.login{
  margin-top: 50px;
}
.border-login{
  border: 3px solid #ebebeb;
  padding: 40px 1% 40px 1%;
  border-radius: 1%;
}


.fa {
  color: $default-red-color !important;
}

.page-item.active {

  > .page-link {
    background-color: $default-red-color !important;
    border-color: $default-red-color !important;
  }
}


.btn-luiza-gabrielly {
  background: $default-red-color !important;
  color: #fff !important;
  border: none !important;
  &:hover,
  &:focus-visible {
    background: #6b1425 !important;
  }
}

