//breakpoints (don't change these values)
$lg-device: 1280px;
$mg-device: 992px;
$md-device: 768px;
$sm-device: 576px;
$xs-device: 380px;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors

//colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// $dark-blue: #315561;
// $light-green: #16a085;
// $pattern-gray: #b3b3b3;

$dark-blue: #007400;
$light-green: #01c100;
$pattern-gray: #b3b3b3;

//switch colors
$switch-white: #e8e9ed;
$switch-gray: #434257;
$switch-blue: #18172c;
$switch-green: #00d084;
$switch-pink: #ff4b77;
